* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Allerta Stencil', sans-serif;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator__container {
    max-width: 800px;
    height: 400px;
    background-color: #f1f1f1;
    box-shadow: 1px 1px 10px 1px #d5d5d5; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
}

h1 {
    font-weight: 400;
    font-size: 4.398rem;
    margin-bottom: 1.5rem;
    padding: 0 40px;
}

h2 {
    font-weight: 400;
    font-size: 1.638rem;
}

button {
    font-weight: 400;
    font-size: 1rem;
    padding: 8px 15px;
    border: none;
    background-color: chartreuse;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

input[type=number] {
    width: 85px;
    font-size: 1rem;
    padding: 6px;
    border: 1px solid rgb(174, 174, 174);
}

input[type=text] { 
    font-size: 1rem; 
    padding: 6px; 
    text-align: center; 
    border: 1px solid rgb(174, 174, 174); 
} 

/* RESPONSIVE DESIGN */

/* 800 PX */
@media screen and (max-width: 800px) {

    .calculator__container {
        margin: 10rem 1rem 0;
    }
    
    .calculator__container h1 {
        font-size: clamp(1.5rem, -0.8711rem + 10.5382vw, 4.398rem);
        padding: 0 20px;
    }

    .calculator__container h2 {
        font-size: 1rem;
        padding: 0 20px;
    }

    input[type=number],
    input[type=text] {
        width: 75px;
        padding: 3px;
    }

    button {
        font-size: 0.75rem;
        padding: 6px 10px;
        margin-top: 1rem;
        margin-bottom: 0;
    }
}

/* 630 PX */

@media screen and (max-width: 630px) {
    
    .calculator__container {
        height: 250px;
    }
}